{% extends 'base_team.html' %}
{% load static %}

{% csrf_token %}

{% block title %}Create Project{% endblock title %}

{% block extra_css_file %}
<link rel="stylesheet" href="{% static "task_management/create_project1.css" %}">
{% endblock extra_css_file %}

{% block extra_content %}

{% load crispy_forms_tags %}

<div class="table">
    <h2>Create Project</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div>  
            <button type="submit" class="btn btn-danger" id="project-search-addon">Create</button>
        <div> 
    </form>
</div>

{% endblock extra_content %}