{% extends 'base_home.html' %}
{% load static %}

{% block title %}Create Team{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static "task_management/create_team.css" %}">
{% endblock css_file %}

{% block content %}
{% load crispy_forms_tags %}

<div class="table">
    <h2>Create Team</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div>  
            <button type="submit" class="btn btn-danger" id="project-search-addon">Create</button>
        <div> 
    </form>
</div>
{% endblock content %}