{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static "task_management/login3.css" %}">

{% endblock css_file %}

{% block content %}
{% load crispy_forms_tags %}
    <div>
         
    </div>

    <div class="log">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}   
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ login_form|crispy }}
            <button class="button" type="submit">Log in</button>
            <p>Dont have an account? <a href="/register">Create an account</a>.</p>

        </form>

    </div>


    
{% endblock content %}

