{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block css_file %}{% endblock css_file %}

{% block content %}
    <div>
        <button><a href="/">Starting Page</a></button>
    </div>
    <div>
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ login_form }}
            <button type="submit">Log in</button>
        </form>
        <p>Dont have an account? <a href="/register">Create an account</a>.</p>
    </div>
{% endblock content %}

