{% extends 'base_home.html' %}
{% load static %}

{% csrf_token %}

{% block title %}Home{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static "task_management/my_project.css" %}">

{% endblock css_file %}


{% block content %}
<a class ="button" href="{% url  %}">
    <div class="task">
        
        <div class="task">
        
            <div class="col-xl-3 col-sm-6 mb-5">
                <a class ="button" href="{% url 'team_member' team_member_id=team_member.id %}">
                <div class="member">
                        <h5 class="mb-0">{{team_member.user_profile.name|default:team_member.user.username}}</h5>
                          <div class="{% if team_member.user_profile.is_online %}online-circle{% else %}offline-circle{% endif %}"></div>
                        <span class="small text-uppercase text-muted">{{ team_member.role }}</span>
                        <span class="small text-muted">{{ team_member.responsibilities }}</span>
                    
                    </div>
                </div></a>
            </div>
            </div>
        </div></a>
        </div>
    </div></a>
{% endfor %}
{% endfor %}
{% endblock content %}