{% extends 'base_home.html' %}
{% load static %}

{% csrf_token %}

{% block title %}Home{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static "task_management/my_project.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock css_file %}


{% block content %}
{% for project in leader_projects %}
{% for project in projects_with_user_tasks %}
<a class ="button" href="{% url  %}">
    <div class="task">
        
        
        </div>
    </div></a>
{% endfor %}
{% endfor %}
{% endblock content %}