{% extends 'base_team.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block css_file %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "task_management/my_task.css" %}">
{% endblock css_file %}

{% block content %}
{% for task in assigned_tasks %}
<a class ="button" href="{% url  %}">
    <div class="task">
        
        
        </div>
    </div></a>
{% empty %}
            <p>No tasks assigned to you.</p>
        {% endfor %}
{% endblock content %}