{% extends 'base_home.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static "task_management/notification1.css" %}">

{% endblock css_file %}


{% block content %}
{% load crispy_forms_tags %}
<div class="id-col ">
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
 <h1>Notification</h1>
 {% for notification in notifications %}

 <div class="col-md-4 col-lg-6">
     <div class="panel-body">
      <div class="alert alert-info">
         
         {{ notification.message }}
         
      </div>
      {% if notification.team_invitation %}
         <div class="alert alert-info">
          <a href="{% url 'invitation' invitation_id=notification.team_invitation.id %}"><strong class="default"><i class="fa fa-user"></i> {{ notification.team_invitation.sender.username }}</strong> sent you Team Invitation.</a>
          
         </div>
     </div>
     {% endif %}
    </div>
 </div>

 {% endfor %}
</div>
{% endblock content %}
