{% extends 'base_home.html' %}
{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'task_management/profile.css' %}">
{% endblock css_file %}

{% block content %}
{% csrf_token %}
    <div class="id">
        <h1>This is the profile page for {{user.username}}</h1>
    </div>
    <div class="id1">
        <img class="rounded-circle article-img" src="profile_form.profile_picture">
        <form action="POST">
            {% for field in user_form %}
            <div class="form-group">
                <label class="custom-label">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            {% for field in profile_form %}
            <div class="form-group">
                <label class="custom-label">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit">Update</button>
        </form>
    </div>
{% endblock content %}