{% extends 'base_home.html' %}
{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'task_management/profile1.css' %}">
{% endblock css_file %}

{% block content %}

    <div class="id">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}    
    </div>

<div class="id">
        <h1>This is the profile page for {{user.username}}</h1>
    </div>
    <div class="id1">
        <img class="img" src="media/profile_images">
        
            <form action="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in user_form %}
                <div class="form-group">
                    <label class="custom-label">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                {% for field in profile_form %}
                <div class="form-group">
                    <label class="custom-label">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                
                <button class="btn btn-outline-info" type="suinputbmit">Update</button>
                <button type="reset" class="btn btn-dark btn-lg">Reset</button>
                
            </form>
    </div>
    
{% endblock content %}