{% extends "base_team.html" %}
{% load static %}

{% block title %}
Page
{% endblock title %}

{% block extra_css_file %}
<link rel="stylesheet" href="{% static "task_management/project_board2.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock extra_css_file %}

{% block extra_content %}
   


    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-pattern">
                    <div class="card-body">
                        
                        <h5 class="font-size-20 mt-0 pt-1" id="total-projects-count">{{ num_total_projects }}</h5>
                        <p class="text-muted mb-0">Total Projects</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-pattern">
                    <div class="card-body">
                        
                        <h5 class="font-size-20 mt-0 pt-1" id="completed-projects-count">{{ num_complete_projects }}</h5>
                        <p class="text-muted mb-0">Completed Projects</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-pattern">
                    <div class="card-body">
                        
                        <h5 class="font-size-20 mt-0 pt-1" id="pending-projects-count">{{num_pending_project}}</h5>
                        <p class="text-muted mb-0">Pending Projects</p>
                    </div>
                </div>
            </div>
           
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form method="GET">
                            <div class="form-group mb-0">
                                <label>Search</label>
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-danger" id="project-search-addon">Apply Filters</button>
                                <div class="input-group mb-0">
                                  
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if can_create_project %}
            <div class="col-xl-3 col-md-6">
                <div class="card bg-pattern">
                    <div class="card-body">
                        
                        
                        <a href="{% url "create_project" team_id=user.profile.current_team.id %}">Create Project</a>
                    </div>
                </div>
            </div>
            {% endif %} 
        </div>

 
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        
                            <table class="table project-table table-centered table-nowrap" >
                                <thead>
                                    <tr>
                                        
                                        <th scope="col">Projects</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Leader</th>
                                        <th scope="col">Progress</th>
                                        <th scope="col">Priority</th>
                                    </tr>
                                </thead>
                           
                                <tbody>
 

                                    {% for project in projects %}  
                                    <a href="{% url "project" project_id=project.id %}">
                                    <tr class="project-row" data-url="{% url 'project' project_id=project.id %}">
                                       
                                        
                                        <td>{{ project.name }}</td>
                                        <td>{{ project.start }}</td>
                                        <td>{{ project.end }}</td>
                                        <td>
                                            {{ project.status }}
                                        </td>
                                        <td>
                                            <div class="Leader">
                                                <img src="{{ project.leader.user_profile.profile_picture.url }}" class="rounded-circle avatar-xs">
                                            </div>
                                        </td>
                                       
                                        <td>
                                            <p class="mb-0">Progress<span class="float-right">{{ overall_progress }}%</span></p>

                                            <div class="progress mt-2" style="height: 5px;">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ overall_progress }}%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="fas fa-flag fa-lg" style=" color: {{ project.priority.color }};"></div>
                                        </td>

                                        <td>
                                            
                                        </td></a>
                                    </tr></a>
                                    
                                    {% endfor %}  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> 
        </div>    
    </div>      
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
                    
        document.addEventListener("DOMContentLoaded", function() {
    const projectRows = document.querySelectorAll(".project-row");
    projectRows.forEach(row => {
        row.addEventListener("click", function() {
            console.log("Project row clicked!");
            const projectUrl = this.getAttribute("data-url");
            if (projectUrl) {
                window.location.href = projectUrl;
            }
        });
    });
});


        </script>
    <script>
        function updatePendingProjectsCount() {
            fetch("{% url 'get_pending_project' team_id=team.id %}")
                .then(response => response.json())
                .then(data => {
                    const pendingProjectsCountElement = document.getElementById('pending-projects-count');
                    pendingProjectsCountElement.textContent = data.count;
                })
                .catch(error => console.error(error));
        }
        
        updatePendingProjectsCount();
        
    </script>
{% endblock extra_content %}