{% extends 'base.html' %}
{% load static %}


{% block title %}Registration{% endblock title %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "task_management/register.css" %}">
{% endblock css_file %}

{% block content %}
    
    <div class="container">
        <h1>Registration</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in register_form %}
            {{ field.label }}
            {{ field }}
            {% endfor %}
            
            <button class="button" type="submit">Sing up</button>
        </form>
    </div>
        {{ register_form.errors }}
        <div class="text">
            <p>If you already have an account <a href="/login">Log in</a> instead.</p>
        </div>
{% endblock content %}

