<div class="attached-files mt-4">
    <h5 class="">Attached Files</h5>
    <div class="files-list">
        <div class="file-box">
            <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive img-thumbnail" alt="attached-img"></a>
            <p class="font-13 mb-1 text-muted"><small>File one</small></p>
        </div>
        <div class="file-box">
            <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-responsive img-thumbnail" alt="attached-img"></a>
            <p class="font-13 mb-1 text-muted"><small>Attached-2</small></p>
        </div>
        <div class="file-box">
            <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-responsive img-thumbnail" alt="attached-img"></a>
            <p class="font-13 mb-1 text-muted"><small>Dribbble shot</small></p>
        </div>
        <div class="file-box ml-3"><a href="#"><span class="add-new-plus"><i class="fa fa-plus"></i></span></a></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-right mt-4">
                <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                <button type="button" class="btn btn-light waves-effect">Cancel</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>   