{% extends 'base_team.html' %}
{% load static %}

{% csrf_token %}

{% block title %}{{ task.name }}{% endblock title %}

{% block extra_css_file %}
<link rel="stylesheet" href="{% static "task_management/task.css" %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


{% endblock extra_css_file %}

{% block extra_content %}

{% load crispy_forms_tags %}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-box task-detail">
                    <h4>Project: {{ task.project }}</h4>
                    <h5>Assign to:</h5>
                    <div class="media mt-0 m-b-30"><img src="{{ task.assigned_to.user_profile.profile_picture.url|default:'media/default.jpg' }}" alt="" style="width: 48px; height: 48px;" class="d-flex mr-3 rounded-circle">

                        <div class="media-body">
                            <h5 class="media-heading mb-0 mt-0"> {{ task.assigned_to.user_profile.name }} </h5></div>
                    </div>
                    <h4 class="m-b-20">{{ task.name }}</h4>
                    <p class="text-muted">{{ task.description }}</p>
                    <h5>{{ task.status }}</h5>
                    <ul class="list-inline task-dates m-b-0 mt-5">
                        
                        <li>
                            <h5 class="m-b-5">Due Date</h5>
                            <p>{{ task.deadline }}</p>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="task-tags mt-4">
                        
                        <div class="bootstrap-tagsinput">
                            
                        </div>

                    </div>
                    
                    <div class="attached-files mt-4">
                        <h5 class="">Attached Files</h5>
                        <div class="files-list">
                            {% for attachment in attachments %}
                            <li>
                                <p>{{ attachment.description }}</p>
                              <a href="{{ attachment.file.url }}" target="_blank">{{ attachment.file.name }}</a>
                              (Uploaded by: {{ attachment.uploaded_by }}, {{ attachment.upload }})
                            </li>
                          {% endfor %}
                          {% if can_manage_attachments %}
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ attachments_form|crispy }}
                                <button type="submit">Upload Attachments</button>
                            </form>
                            {% endif %}
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-right mt-4">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
           
            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="header-title m-b-30">Comments</h4>
                    {% for comment in comments %}
                    <div>
                        <div class="media m-b-20">
                            <div class="d-flex mr-3">
                                <img class="media-object rounded-circle thumb-sm" src="{{ comment.user.user_profile.profile_picture.url|default:'media/default.jpg' }}"></div>
                            <div class="media-body">
                                <h5 class="mt-0">{{ comment.user.user_profile.name }}</h5>
                                <p class="font-13 mb-0">{{ comment.content }}</div>
                        </div>
                        {% endfor %}
                            <div class="media-body">
                                
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form.content }}
                                        <button type="submit" class="btn btn-sm btn-custom waves-effect waves-light">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>

{% endblock extra_content %}