{% extends 'base_home.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static "task_management/team_member.css" %}">
{% endblock css_file %}

{% block content %}
<div class='team'>
    <h1>Team Member Profile</h1>
    <img class="img" src="{{ team_member.user_profile.profile_picture.url|default:'media/default.jpg' }}" alt="Profile Picture" class="img">
    <p>Username: {{ team_member.user.username }}</p>
    <p>Role: {{ team_member.role }}</p>
    <p>Responsibilities: {{ team_member.responsibilities }}</p>
    <p>Is Manager: {{ team_member.is_manager }}</p>
    <p>email: {{ team_member.user.email }}</p>

    {% if can_edit_profile %}
        <a href="{% url 'team_member_edit' team_member.id %}">Edit Profile</a>
    {% endif %}
</div>
{% endblock content %}