{% extends "base_team.html" %}
{% load static %}

{% block title %}
{{ team.name }}
{% endblock title %}

{% block extra_css_file %}
<link rel="stylesheet" href="{% static "task_management/team_id5.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock extra_css_file %}

{% block extra_content %}
   
<div class='team'>      
    <h2>{{ team.name }}</h2>
    <p class='text-muted'>{{ team.description }}</p>    
    <p>Owner: {{ team.owner.profile.name }}</p>

    <h5>Contact Our Team by Email</h5>
</div>
             
{% endblock extra_content %}