{% extends 'base_home.html' %}
{% load static %}

{% block title %}
Edit Page
{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static "task_management/team_member_edit2.css" %}">

{% endblock css_file %}

{% block content %}
{% load crispy_forms_tags %}

<div class="team">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
       
        <button class="button" type="submit">Update</button>
        <a href="{% url "team_member_delete" team_member_id=team_member.id %}">Delete</a>

    </form>
</div>
{% endblock content %}