@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Raleway:wght@200&family=Roboto&family=Rubik&display=swap');

html {
    font-family: 'Open Sans', sans-serif;

}

nav a {
    color: white;
    background-color: #8528aa;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;

  }

 nav a:hover, nav a:active {
    background-color: #4178c0;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 15px 10px;
}