@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Raleway:wght@200&family=Roboto&family=Rubik&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    
}

nav a {
    color: white;
    background-color: #8528aa;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border: none;
   
    font-size: 20px;
}


 nav a:hover, nav a:active {
    background-color: #ae51b1;
}

/* Style the header with a grey background and some padding */
.header {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

body {
    background-color: #ffffff;
}