@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Raleway:wght@200&family=Roboto&family=Rubik&display=swap');

html {
    font-family: 'Open Sans', sans-serif;

}

.menu {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #8528aa;
    position: fixed;
    height: 100%;
    overflow: auto;
}


.flex-column {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.nav-item {
    display: inline;
    list-style: none;
    

}

.nav-link {
    color: white;
    background-color: #8528aa;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    margin-bottom: 10px;
    
}

.nav-link:hover, .nav-link:active {
    background-color: #ae51b1;
    text-decoration: none;
    color: white;
}

.imgfull {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    float: right;
    display: block;
    border: 2px solid white;
}


.nav-item.active {
    background-color: #ae51b1;
    text-decoration: none;
    color: white;
}

