@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Raleway:wght@200&family=Roboto&family=Rubik&display=swap');

html {
    font-family: 'Open Sans', sans-serif;

}

.menu {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #875e97;
    position: fixed;
    height: 100%;
    overflow: auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

ul li {
    display: inline;
    list-style: none;
   

}

ul li a {
    color: white;
    background-color: #8528aa;
    padding: 15px 50px;
    width: 100px;
    text-align: left;
    text-decoration: none;
    display: block;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;

}

ul li a:hover, ul li a:active  {
    background-color: #ae51b1;
    text-decoration: none;
}



img {
    float: right;
}