{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'app_home5.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
    {% block css_file %}{% endblock css_file %}
</head>
<body>
    {% load crispy_forms_tags %}

    <div class="menu">
        
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile <img class="imgfull" src="{{ user.profile.profile_picture.url }}" alt="img"> </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'notification' %}">Notification</a></li>
            
            <!-- <li class="nav-item"><a class="nav-link" href="{% if current_team %}{% url 'team_id' team_id=current_team.id %} {% endif %}">Team</a></li>-->
            <li class="nav-item"><a class="nav-link" href="{% url "team_id" team_id=user.profile.current_team.id %}">Team</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'project' %}">Projects</a></li>
    
            <li class="nav-item"><a class="nav-link" href="{% url 'my-task' %}">My Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'settings' %}">Settings</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "logout" %}">Logout</a>
        </ul>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Get the current URL path
        var currentPath = window.location.pathname;

        // Loop through each menu item and compare the href attribute
        $(".nav-link").each(function() {
            var linkPath = $(this).attr("href");
            
            if (currentPath === linkPath) {
                $(this).closest(".nav-link").addClass("active");
            }
        });
    });
</script>

    {% block content %}{% endblock content %}
</body>
</html>