{% extends "base_home.html" %}
{% load static %}



{% block css_file %}
<link rel="stylesheet" href="{% static "app_team5.css" %}">
{% block extra_css_file %}{% endblock extra_css_file %}
{% endblock css_file %}


{% block content %}

<div class='id'>
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link" href="{% url "list_of_members" team_id=user.profile.current_team.id %}">Team Members</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'create_project' team_id=user.profile.current_team.id %}">Project Board</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Task Board</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
</ul>

 {% block extra_content %}{% endblock extra_content %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script>
     $(document).ready(function() {
         var currentPath = window.location.pathname;
 
         $(".nav-link").each(function() {
             var linkPath = $(this).attr("href");
             
             if (currentPath === linkPath) {
                 $(this).closest(".nav-link").addClass("active");
                 $(this).attr("aria-current", "page");
             }
         });
     });
 </script>
{% endblock content %}
