{% extends "base_home.html" %}
{% load static %}



{% block css_file %}
<link rel="stylesheet" href="{% static "app_team5.css" %}">
{% block extra_css_file %}{% endblock extra_css_file %}
{% endblock css_file %}


{% block content %}

<div class='id'>
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link" href="{% url "list_of_members" team_id=user.profile.current_team.id %}">Team Members</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'project_board' team_id=user.profile.current_team.id %}">Project Board</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url "task_board" team_id=user.profile.current_team.id %}">Task Board</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
</ul>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'app_team.js' %}"></script>
 

{% block extra_content %}{% endblock extra_content %}
 
{% endblock content %}
