{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'app_home7.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
    {% block css_file %}{% endblock css_file %}
</head>
<body>
    {% load crispy_forms_tags %}

    <div class="menu">
        
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile <img class="imgfull" src="{{ user.profile.profile_picture.url }}" alt="img"> </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link"  href="{% url 'notification' %}" class="notification" >Notification <span class="badge" id="notification-count" >{{ num_notifications }}</span></a></li>
            {% if user.profile.current_team  %}
            <li class="nav-item"><a class="nav-link" href="{% url "team_id" team_id=user.profile.current_team.id %}">Team</a></li>
            {% endif %}

            <li class="nav-item"><a class="nav-link" href="{% url 'my-task' %}">My Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'messages' %}">Messages</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'settings' %}">Settings</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "logout" %}">Logout</a>
        </ul>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $(document).ready(function() {
        var currentPath = window.location.pathname;
        $(".nav.flex-column a").each(function() {
            var linkPath = $(this).attr("href");
            if (currentPath.startsWith(linkPath)) {
                $(this).addClass("active");
            }
        });
    });
</script>

<script>
    $(document).ready(function() {
        $.get('/get_notification_count/', function(data) {
            $('#notification-count').text(data.count);
        });
    });
</script>

    {% block content %}{% endblock content %}

</body>
</html>