
.button {
    color: white;
    background-color: #2d6ec4;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border: none;


  }

 .button:hover, .button:active {
    background-color: #4178c0;
  }

.log {
    width: 300px;
    border: none;
    padding: 80px;
    margin: auto;
    border-radius: 12px;
    background-color: #f1f1f1;
    text-align: center;
    margin-top: 50px;
}

.text {
    text-align: center;
}

