
.button {
    color: white;
    background-color: #8528aa;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-size: 20px;
}

.button:hover, .button:active {
    background-color: #ae51b1;
}

.container {
    width: 300px;
    border: none;
    padding: 40px;
    margin: auto;
    border-radius: 12px;
    background-color: #f1f1f1;
   
    margin-top: 50px;
    
}

.text {
    text-align: center;
    color: #ffffff;
}
.text a {
    color: #ffffff;
    font: bold;
    
}


body {
    background-color: #8528aa;
}

