.team {
  text-align: center;

}


.con1 {
  float: right;
  width: 300px;
  height: 100%;
}

.container {
  float: right;
  right: 0;
  position: absolute;
  overflow: auto;
  display: block;
  width: 300px;

}

.container-widget .panel {
    
    border-radius: 0px;
   
   
}

.panel-info {
    background: #8528aa;
    color: #fff;
}



.panel-widget {
    overflow: hidden;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
}

.panel .panel-title {
    color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0px;
}
.panel-title {
    color: #58666e;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px 20px;
  
    background: #fff;
    margin-bottom: 5px;
    border-bottom: none;
    height: 100%;
    letter-spacing: 1px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.basic-list {
    margin-bottom: 0;
    padding: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Basic List */
.basic-list {
  margin-bottom: 0;
  padding: 0;
}
.basic-list li {
  display: block;
  position: relative;
  padding: 12px 0;
}
.basic-list li:last-child {
  border-bottom: none;
}
.basic-list .right {
  position: absolute;
  right: 0;
  display: inline-block;
  padding: 3px 6px;
  font-weight: 600;
}

/* Image List */
.image-list li {
  padding-left: 50px;
}
.image-list .img {
  width: 57px;
  height: 57px;
  position: absolute;
  left: 0;
  border-radius: 0px;
}
.image-list .desc {
  font-size: 12px;
  opacity: 0.8;
  display: block;
}